.container {
  margin-top: 50px;
  background-color: white;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnCard {
  background-color: #613318;
}

.btnCard:hover {
  background-color: black;
}

.cardBodyContainer {
  transition: transform 1s; /* Animation */
}

.cardBodyContainer:hover {
  transform: scale(1.1);
}
