.container {
  margin-top: 50px;
  background-color: white;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnCard {
  background-color: #613318;
}

.btnCard:hover {
  background-color: black;
}

.cardBodyContainer {
  transition: transform 1s; /* Animation */
}

.cardBodyContainer:hover {
  transform: scale(1.1);
}

.footer .container {
  background-color: #ffcc00;
  color: #613318;
  padding: 10px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}


.footer .social-media ul{
  color: black;
  display: flex;
  justify-content: left;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;

}

.footer .social-media li {
  margin: 0 10px;
  
}

.footer .social-media li a i {
  color: #613318;
}

.test {
  text-decoration: none;
  color: #613318;
}

.uni-link {
  text-decoration: none;
}